.checkout-container {
  display: flex;  
  flex-direction: column;  
  justify-content: flex-start;  
  align-items: center;  
  max-width: 450px;  
  margin: 180px auto;  
  padding: 30px;  
  background-color: #ffffff;  
  border-radius: 10px;  
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);  
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.checkout-container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
  transform: translateY(-1px);
}


h2 {
  color: #333;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
  letter-spacing: 1px;
  width: 100%;  /* Hace que el título ocupe todo el ancho del contenedor */
}


.checkout-form {
  display: flex;  
  flex-direction: column; 
  gap: 20px;  
  width: 100%;  
  align-items: center;  
}


input {
  padding: 12px 15px;  
  border: 1px solid #ddd;
  border-radius: 6px;  
  font-size: 14px;
  width: 100%;  
  max-width: 400px;  
  height: 40px;  
  margin-bottom: 15px;  
  transition: border-color 0.3s ease-in-out;
}


input:focus {
  border-color: #007BFF;
  outline: none;
}


button {
  padding: 12px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: auto;  
  transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}


button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  background-color: #003d80;
  transform: translateY(2px);
}
  
  
  
  
  
  