.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center; /* Alinea las tarjetas al centro */
  padding: 20px;
  margin-top: 160px; /* Asegura que las tarjetas no estén tapadas por el navbar */
}

.product-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  transition: box-shadow 0.3s ease;
  width: 100%; /* Asegura que las tarjetas ocupen todo el ancho disponible */
  max-width: 300px; /* Limita el tamaño máximo de las tarjetas */
  margin: 10px 0; /* Ajusta la separación entre filas */
}

.product-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.product-card img {
  width: 100%;
  height: auto;
  max-height: 180px;
  border-radius: 6px;
  object-fit: contain;
  margin-bottom: 16px;
}

.product-card h6 {
  margin: 12px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.4;
}

.product-card p {
  color: #777;
  font-size: 1rem;
  margin: 8px 0;
  text-align: center;
  line-height: 1.5;
}

.product-card-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  position: relative;
  z-index: 2;
}

.product-card-content button {
  width: 100%;
  font-size: 1rem;
  padding: 12px 20px;
  border-radius: 6px;
  background-color: #007BFF;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 3;
}

.product-card-content button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card .product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.product-card h6,
.product-card p {
  margin: 8px 0;
  font-family: 'Roboto', sans-serif;
}






